
#img {
    height: 565px;
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 16px;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 265px;
    width: 165px;
    line-height: 80px;
   /* background: lavender;*/
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}